/* content-3 img */
.card2 img {
  animation: floating2 2s infinite;
}

.socmed .icon-gjl {
  animation: floating2 2s infinite;
}

.socmed .icon-gnp {
  animation: floating2 2s infinite;
  animation-delay: 1s;
}

@keyframes floating2 {
  50% {
    transform: translateY(8px);
  }
}
